<div >
<p id="notice" class="alert">Notice: <%= notice %></p>
</div>

<table class="table table-bordered" style="font-size:12px;">
  <thead>
    <tr>
      <th>Title</th>
      <th>Desc</th>
      <th>Duedate</th>
      <th>Stage</th>
      <th>Categories</th>
      <th>Co-workers</th>
      <th>Creator</th>
      <% if current_user %>
      <th colspan="2">Actions</th>
      <% else %>

      <% end %>
    </tr>
  </thead>

  <tbody>
    <% @tasks.each do |task| %>
      <tr id="mytaskstyle<%= task.id %>">
        <td><%= task.title %></td>
        <td><%= task.description %></td>
        <td><%= task.duedate %></td>
        <td><%= task.tstage %></td>
        <td><%= task.tcategories %></td>
        <td><%= User.where(:id => JSON.parse(task.coworker)).collect {|p| [ p.name] } %>
        </td>
        <td><%= task.user.name %></td>
        <% if current_user %>
        <td><%= link_to 'Update', taskupdate_path(:id =>task),  :class=>"btn btn-success btn-sm" %></td>
        <td><%= link_to 'Destroy', task, method: :delete,:class=>"btn btn-danger btn-sm", data: { confirm: 'Are you sure?' } %></td>
        <% else %>

        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>


<style type="text/css">
  
#mytaskstyle<%= @task.id %> {

  background-color: #329bff;
  color: white;
  font-size: 13px;
}


</style>

