<!DOCTYPE html>
<html>
<head>
  <title>Todo</title>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>

	<div class="navbar-inner">

	 <span id="mynav">
			<% if current_user %>
			  <span>Signed in as: <b> <%= current_user.name %></b> </span>
			  <%= link_to "Logout", '/logout', :class=>"btn" %>
			<% else %>
			  <%= form_tag '/login', :class=>"navbar-form pull-left" do %>

				  Email: <%= text_field_tag :email %>
				  Password: <%= password_field_tag :password %>
				  <%= submit_tag "Login", :class=>"btn" %>
				  <%= link_to "Register", '/register',
				  :id=>'myregister', :class=>"btn btn-primary" %>

			<% end %>


			<% end %>
	</span>


    </div>


	
	<body>

			<%= yield %>
	
	</body>
	
	
</html>
